{% extends 'main.html' %}

{% block title %} StudyBuddy - Find study partners around the world! {% endblock %}

{% block content %}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        <div class="topics">

          {% include 'topics.html' %}

        </div>
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">

          {% include 'rooms.html' %}

        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        <div class="activities">

          {% include 'activity_feed.html' %}

        </div>
        <!-- Activities End -->
      </div>
    </main>
    <script src="script.js"></script>

{% endblock %}

