{% extends 'main.html' %}

{% block title %} {{ user.username|upper }} {% endblock %}


{% block content %}
<main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        {% include 'topics.html' %}
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{ user.avatar.url }}" />
            </div>
          </div>
          {% if request.user == user %}
          <div class="profile__info">
            {% if user.name %}
            <h3>{{ user.name }}</h3>
            {% else %}
            <h3>{{ user.username }}</h3>
            {% endif %}
            <p>@{{ user.username }}</p>
            <a href="{% url 'edit_user' %}" class="btn btn--main btn--pill">Edit Profile</a>
          </div>
          {% endif %}
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{ user.bio }}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            <h2>Study Rooms Hosted by {{ user.username }}</a>
            </h2>
          </div>
        </div>
        {% include 'rooms.html' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        {% include 'activity_feed.html' %}
      </div>
      <!-- Activities End -->
    </div>
  </main>

{% endblock %}

<!--<a href="{% url 'homepage' %}">Go back to homepage</a>-->
<!--<style>-->
<!--    .profile_div {-->
<!--    display: grid;-->
<!--    grid-template-columns: 1fr 3fr 1fr;-->
<!--    }-->
<!--</style>-->

<!--<div class="profile_div">-->
<!--    <div>-->
<!--        <a>All</a>-->
<!--        {% for topic in topics %}-->
<!--        <p><a>{{ topic.name }}</a></p>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <div>-->
<!--        <h1>Rooms</h1>-->
<!--        {% for room in rooms %}-->
<!--        <p>{{ room.name }}</p>-->
<!--        <p>{{ room.details }}</p>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <div>-->
<!--        <h1> Comments </h1>-->
<!--       {% for comment in comments %}-->
<!--        <p>{{ comment.updated|timesince }} ago</p>-->
<!--        <p>{{ comment.content }}</p>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->